<hr>
<div>
<strong>edit dog</strong>
<hr>
</div>
<div class= "containerr">
  <div class= "card">
    <%= form_with model: @dog do |f| %>
      <%= f.label :Name %>
      <%= f.text_field :name %>
      <%= f.label :Breed %>
      <%= f.text_field :breed %>
      <%= f.label :Profession %>
      <%= f.text_field :profession %>
      <%= f.label :Age %>
      <%= f.number_field :age %>
      <hr>
      <div class="button-div">
        <%= f.submit  class: "btn-new"%>
      </div>
    <% end %>
  </div>
</div>
