
<div class= "form-containerr">
  <div class= "form-inputs">

    <h2><strong>Update your pupper</strong> </h2>
      <%= simple_form_for([@dog]) do |f| %>
        <div class="form-bar">
          <%= f.input :name %>
        </div>
        <div class="form-bar">
          <%= f.input :breed %>
        </div>
        <div class="form-bar">
          <%= f.input :age %>
        </div>
        <div class="form-bar">
          <%= f.input :proffession %>
        </div>
        <div class="form-bar">
          <%= f.input :photo, as: :file,
                    required: true %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Update", class: "btn-primary" %>
        </div>
      <% end %>
  </div>

  <%# <%= link_to "Remove", dog_path(dog), class: "btn-primary-delete m-2 ", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
</div>
