<div>
all doggos
</div>
<div class="row justify-content-center">
    <% @dogs.each do |dog| %>
      <div class="card">
        <h5><%= dog.name %></h5>

        <h6><strong>name:</strong> <%= dog.name %></h6>

        <h6><strong>breed:</strong> <%= dog.breed %></h6>

        <h6><strong>profession:</strong> <%= dog.proffession %></h6>

        <h6><strong>age:</strong> <%= dog.age %></h6>
      </div>
    <% end %>
</div>
