<div>
all doggos
</div>
<div class="row justify-content-center">
    <% @dogs.each do |dog| %>
      <div class="card">
        <h5><%= dog.name %></h5>

        <h6><strong>Breed:</strong> <%= dog.breed %></h6>

        <h6><strong>Profession:</strong> <%= dog.proffession %></h6>

        <h6><strong>Age:</strong> <%= dog.age %></h6>

        <%= link_to "Remove", dog_path(dog), class: "btn btn-primary m-4", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
        <%= link_to "Update", edit_dog_path(dog), class: "btn btn-primary m-4"%>
    <% end %>
</div>
