<div class="m-3">
<h1> All Dogs</h1>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary m-3" data-bs-toggle="modal" data-bs-target="#addDog">
  Add a new dog
</button>

<div class="row justify-content-center">
    <% @dogs.each do |dog| %>
      <div class="card-dog">
        <% if dog.photo.attached? %>
          <%= cl_image_tag dog.photo.key, height: 50, width: 50, class: "img-dog" %>
        <% else %>
          <p> attach a photo of a dog </p>
        <% end %>
        <br>
        <br>
        <h5><%= dog.name %></h5>
        <h6><strong>Breed:</strong> <%= dog.breed %></h6>
        <h6><strong>Profession:</strong> <%= dog.proffession %></h6>
        <h6><strong>Age:</strong> <%= dog.age %></h6>
        <%= link_to "Remove", dog_path(dog), class: "btn btn-primary m-2 ", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
        <%= link_to "Update", edit_dog_path(dog), class: "btn btn-primary m-2"%>
      </div>
    <% end %>
</div>

<!-- Modal -->
<div class="modal fade" id="addDog" tabindex="-1" aria-labelledby="addDogLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addDogLabel">Add a new dog</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class="modal-body">
            <%= simple_form_for([@dog]) do |f| %>
              <div class="form-bar">
                <%= f.input :name %>
              </div>
              <div class="form-bar">
                <%= f.input :breed %>
              </div>
              <div class="form-bar">
                <%= f.input :age %>
              </div>
              <div class="form-bar">
                <%= f.input :proffession %>
              </div>
              <div class="form-bar">
                <%= f.input :photo, as: :file,
                          required: true %>
              </div>
              <div class="form-actions">
                <%= f.button :submit, "Create dog" %>
              </div>
            <% end %>
        </div>
    </div>
  </div>
</div>
