
<div>
  <strong>new dog</strong>
  <hr>
</div>
<div class= "containerr">
  <div class = "card">
    <%= form_with model: @dog do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.label :breed %>
        <%= f.text_field :breed %>
        <%= f.label :profession %>
        <%= f.text_field :proffession %>
        <%= f.label :age %>
        <%= f.number_field :age %>
        <hr>
      <div class="button-div">
        <%= f.submit  class: "btn-new"%>
      </div>
    <% end %>
  </div>
  <div class= "card">
  TODO img cloudinary
  </div>
</div>
