<div class= "containerr">
  <div class="dog-card">
    <h5><%= @dog.name %></h5>

    <h6><strong>Name:</strong> <%= @dog.name %></h6>

    <h6><strong>Breed:</strong> <%= @dog.breed %></h6>

    <h6><strong>Profession:</strong> <%= @dog.proffession %></h6>

    <h6><strong>Age:</strong> <%= @dog.age %></h6>
  </div>
</div>
