<div class="containerr">
  <div class="page-title mt-3">
    <h1>Your Favourite Pubs</h1>
  </div>


    <div class="row">
      <% @favourites.each do |favourite| %>
        <div class="card--favourite-final">
          <%= link_to pub_path(favourite.pub), class:"card-fav2" do %>
            <h4 class="text-center"><%=favourite.pub.name%></h4>
              <% if favourite.pub.photo.attached? %>
                <%= cl_image_tag favourite.pub.photo.key, class: "favourite--image" %>
              <% else %>
                <img src="https://media.sketchfab.com/models/0e97fb0190244216a056909bbd749b9f/thumbnails/77649cbaea4849aeb3c98a70547c39ba/ef0475805a5a4442a15e3b681a0ec389.jpeg", height: "150", width: "200">
              <% end %>
            <p></p>
            <%= favourite.pub.address %>
            <%= link_to "🗑", favourite_path(favourite), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-primary-fav" %>
          <% end %>
        </div>
      <% end %>
    </div>
</div>
