<div class="homepage">
<div class="boozehounds">
  <h1>Booze Hounds</h1>
  <p>Boozers for you and your hound</p>
   <div class="searchbar">
        <%= form_with url: pubs_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :search,
            params[:search],
            class: "form-control",
            placeholder: "Search pubs..."
          %>
          <%= submit_tag "GO!", class: "btn btn-dark" %>
        <% end %>
    </div>
</div>

<%= raise %>

<div id="pubCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="4000">
      <%= image_tag("doggos.webp") %>
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <%= image_tag("doggos.webp") %>
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <%= image_tag("doggos.webp") %>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#pubCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#pubCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
