<div class="container-chat">
  <h1>
    <%= @room.name %> Chat
  </h1>
  <br>


    <div class="col">
      <div class="chat">
        <% @room_messages.each do |room_message| %>
          <div class="chat-message-container">
            <div class="row no-gutters">
              <div class="col-auto text-center">



                <% if room_message.user.photo.attached? %>
                  <%= cl_image_tag room_message.user.photo.key, class: "avatar" %>
                <% else %>
                  <%= image_tag "https://res.cloudinary.com/dfi8ju7lr/image/upload/v1678190796/BoozeHounds/dropdown_oddycz.png", class: "avatar" %>
                <% end %>
              </div>

              <div class="col">
                <div class="message-content">
                  <p class="mb-1">
                    <%= room_message.message %>
                  </p>

                  <div class="text-right">
                    <small>
                      <%= room_message.created_at %>
                    </small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <%= simple_form_for @room_message, remote: true do |form| %>
        <div class="input-group mt-3">
          <%= form.input :message, as: :string,
                                  wrapper: false,
                                  label: false,
                                  input_html: {
                                    class: 'chat-input'
                                  } %>
          <div class="input-group-append">
            <%= form.submit "Send", class: 'btn btn-primary chat-input' %>
          </div>
        </div>

        <%= form.input :room_id, as: :hidden %>
      <% end %>
    </div>
  </div>
</div>


<div class="container room"
  data-controller="room-subscription"
  data-room-subscription-room-id-value="<%= @room.id %>"
>

  <div class="room_messages" data-room-subscription-target="room_messages">
</div>

<div class="room_messages" data-room-subscription-target="room_messages">
  <% @room.room_messages.each do |message| %>
    <%# <%= render "room_messages/room_message", message: message %>
  <% end %>
</div>
