<div class="container2">

	<div class="bird-container bird-container--one">
		<div class="bird bird--one"></div>
	</div>

	<div class="bird-container bird-container--two">
		<div class="bird bird--two"></div>
	</div>

	<div class="bird-container bird-container--three">
		<div class="bird bird--three"></div>
	</div>

	<div class="bird-container bird-container--four">
		<div class="bird bird--four"></div>
	</div>

</div>


<div class="containerr-chat">
  <div class="chat-header"> </div>
    <h1>
       <%= @room.name %> Chat
    </h1>
  <br>
  </div>

    <div class="col" data-controller="room-subscription" data-room-subscription-room-id-value="<%= @room.id %>">
      <div class="container room">
        <div class="room_messages chat" data-room-subscription-target="messages">
          <% @room_messages.each do |room_message| %>
            <%= room_message.user.username %>
            <%= render "room_messages/room_message", room_message: room_message %>
          <% end %>
        </div>
      </div>

      <div class = "container room">
        <%= simple_form_for @room_message, html: { data: { action: "turbo:submit-end->room-subscription#resetForm" } } do |form| %>
          <div class="input-group mt-4">
            <%= form.input :message, as: :string,
                                    wrapper: false,
                                    label: false,
                                    input_html: {
                                      class: 'chat-input'
                                    } %>
            <div class="input-group-append">
              <%= form.submit "Send", class: 'btn btn-primary chat-input' %>
            </div>
          </div>
          <%= form.input :room_id, as: :hidden %>
        <% end %>
    <%= link_to "<- Back", pub_path(@pub), class: "btn btn-primary-delete ml-3"  %>
   </div>
  </div>
</div>


</div>
