
<div class="containerr">
  <div class="container">
      <div class="searchbar">
        <%= form_with url: pubs_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search pubs..."
          %>
          <%= submit_tag "GO!", class: "btn btn-dark" %>
        <% end %>
      </div>
  </div>
  <br>
  <%= form_with method: "GET", id: "filter-checkbox", class: "filtering" do |f| %>
    <%= f.submit class: "submit-button", value: "Filter:" %>
    <div>
      <%= f.check_box :garden, class: "checkbox", id: "garden" %>
      <%= f.label :garden %>
    </div>
    <div>
      <%= f.check_box :parking, class: "checkbox", id: "parking" %>
      <%= f.label :parking %>
    </div>
    <div>
      <%= f.check_box :live_sport, class: "checkbox", id: "live_sport" %>
      <%= f.label :live_sport %>
    </div>
    <div>
      <%= f.check_box :non_alcoholic_drinks, class: "checkbox", id: "non_alcoholic_drinks_selection" %>
      <%= f.label :non_alcoholic_drinks, "NA Drinks" %>
    </div>
    <div>
      <%= f.check_box :wheelchair_accessible, class: "checkbox", id: "wheelchair_accessible" %>
      <%= f.label :wheelchair_accessible, "Accessible" %>
    </div>
    <div>
      <%= f.check_box :food_menu, class: "checkbox", id: "food_menu" %>
      <%= f.label :food_menu %>
    </div>
  <% end %>

  <br>

  We have found <em><%= @pubs.length %></em> results for your search of:
  <% filter_results = params.keys.select { |key| params[key] == "1" } %>
  <% filter_results %>
  <em><%= filter_results.map(&:capitalize).join(", ") %></em>
  <%# { |word| word.gsub('_', ' ') } %>
  <div class="index-columns">
    <div class="row justify-content-center">
      <% @pubs.each do |pub| %>
        <%= link_to pub_path(pub), class:"card col-5" do %>
            <%= cl_image_tag pub.photo.key, class:"pub-image-card" %>
            <p class="pub-info-card" id="pub-name" ><strong><%= pub.name %></strong></p>
            <p class="pub-info-card"><strong>Opening/Closing times:</strong> <%= pub.opening_time %>am - <%= pub.closing_time %>pm</p>
            <p class="pub-info-card"><strong>Description:</strong> <%= pub.description %></p>
            <p class="pub-info-card"><strong>Address:</strong> <%= pub.address %></p>
            <p class="pub-info-card"><strong>Phone number:</strong> <%= pub.phone_number %></p>
        <% end %>

      <% end %>
    </div>
    <div class="top_index">
      <div id="map" style="width: 500px; height: 720px"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
