<br>
<div class="containerr">
  <div class="container">
      <div class="searchbar">
        <%= form_with url: pubs_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search pubs..."
          %>
          <%= submit_tag "GO!", class: "btn btn-dark" %>
        <% end %>
    </div>
    <br>
  </div>

  <%= form_with method: "GET", class: "filtering" do |f| %>
    <%= f.label :garden %>
    <%= f.check_box :garden, class: "checkbox" %>
    <%= f.label :parking %>
    <%= f.check_box :parking, class: "checkbox" %>
    <%= f.label :live_sport_tv %>
    <%= f.check_box :live_sport, class: "checkbox" %>
    <%= f.label :non_alcoholic_drinks_selection %>
    <%= f.check_box :non_alcoholic_drinks_selection, class: "checkbox" %>
    <%= f.label :wheelchair_accessible %>
    <%= f.check_box :wheelchair_accessible, class: "checkbox" %>
    <%= f.label :food_menu %>
    <%= f.check_box :food_menu, class: "checkbox" %>
    <%= f.submit %>
  <% end %>

  <div class="top_index">
    <div id="map" style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

  </div>
  <div class="row justify-content-center">
    <% @pubs.each do |pub| %>
      <%= link_to pub_path(pub), class:"card col-5" do %>
          <h5><%= pub.name %></h5>
          <h6><strong>Address:</strong> <%= pub.address %></h6>
          <h6><strong>Description:</strong> <%= pub.description %></h6>
          <h6><strong>Opening/Closing times:</strong> <%= pub.opening_time %></h6>
          <%# <h6 class="website-link"><strong>Website:</strong>  <%= link_to "#{pub.name}","#{pub.website}", target: "_blank" %>
          <h6><strong>Phone number:</strong> <%= pub.phone_number %></h6>
      <% end %>
    <% end %>
  </div>
</div>
