<br>
<div class="containerr">
  <div class="container">
      <div class="searchbar">
        <%= form_with url: pubs_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search pubs..."
          %>
          <%= submit_tag "GO!", class: "btn btn-dark" %>
        <% end %>
    </div>
    <br>
  </div>

  <div class="filtering">
    <button class="filter-button">Filtering:</button>
        <div>
          <input class="checkbox" type="checkbox" id="filter1" name="filter1" value="Garden">
          <label for="filter1" class="filter">Garden</label>
        </div>
        <div>
          <input class="checkbox" type="checkbox" id="filter2" name="filter2" value="Garden">
          <label for="filter2" class="filter">Parking</label>
        </div>
        <div>
          <input class="checkbox" type="checkbox" id="filter3" name="filter3" value="Garden">
          <label for="filter3" class="filter">Live Sport TV</label>
        </div>
        <div>
          <input class="checkbox" type="checkbox" id="filter4" name="filter4" value="Garden">
          <label for="filter4" class="filter">NA drinks selection</label>
        </div>
        <div>
          <input class="checkbox" type="checkbox" id="filter5" name="filter5" value="Garden">
          <label for="filter5" class="filter">Wheelchair accessible</label>
        </div>
        <div>
          <input class="checkbox" type="checkbox" id="filter6" name="filter6" value="Garden">
          <label for="filte6" class="filter">Food menu</label>
        </div>
  </div>
  <br>
  <div class="top_index">
    <div id="map" style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

  </div>
  <div class="row justify-content-center">
    <% @pubs.each do |pub| %>
      <div class="card">
        <h5><%= pub.name %></h5>
        <h6><strong>Address:</strong> <%= pub.address %></h6>
        <h6><strong>Description:</strong> <%= pub.description %></h6>
        <h6><strong>Opening/Closing times:</strong> <%= pub.opening_time %></h6>
        <h6 class="website-link"><strong>Website:</strong>  <%= link_to "#{pub.name}","#{pub.website}", target: "_blank" %></h6>
        <h6><strong>Phone number:</strong> <%= pub.phone_number %></h6>
      </div>
    <% end %>
  </div>
</div>
