

<h1>Index Page</h1>


<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<br>
<div class="container">
    <div class="searchbar">
      <%= form_with url: pubs_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search pubs..."
        %>
        <%= submit_tag "GO!", class: "btn btn-dark" %>
      <% end %>
  </div>

