<div class="containerr">
<br>
<div class="view-page-top">
      <h1> <strong> <%= @pub.name %> </strong></h1>
      <p></p>
      <%= link_to "Enter chat now!", rooms_path(@room), class: "chat-link" %>
      <br>
      <p></p>


<%# Pub image and information %>
     <div class="show-flex-box">
            <%= cl_image_tag @pub.photo.key, class:"pub-image-card-show" %>

      <div class="show-card-text">
        <img class="" src="#" alt="">
        <div class="card-body">
            <h4 class="card-title"><strong> <%= @pub.name %> </strong></h4>
            <br>
            <h5 class="card-text"><strong> Address:  </strong>  <%= @pub.address %></p></h5>
            <br>
            <h5 class="card-text"><strong> Description:  </strong>  <%= @pub.description %></p></h5>
            <br>


          <div class="local-review-buttons">

            <div class="card-body-button" >
              <%= link_to "Add to Favourites!", add_favourite_path(@pub) %>
            </div>
        </div>
      </div>
    </div>

<%# reviews section %>
      <div class="review-card">
        <div class="show-card">
          <div class="conatinerr">
              <h2>Reviews</h2>
              <% if user_signed_in? %>
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#reviewModal"> Leave a review </button>
                
            <% if user_signed_in? %>
                <button type="button" class="btn-primary" data-bs-toggle="modal" data-bs-target="#reviewModal"> Leave a review </button>

                  <div class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="reviewModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="reviewModalLabel">Leave a review</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                          <div class="modal-body">
                            <%= simple_form_for([@pub, @review]) do |f| %>
                              <div class="form-bar">
                                <%= f.input :content %>
                              </div>
                              <div class="form-bar rating">
                                <%= f.input :rating %>
                                <br>
                                <input name="review[rating]" id="e5" type="radio" value="5"><label for="e5">★</label>
                                <input name="review[rating]" id="e4" type="radio" value="4"><label for="e4">★</label>
                                <input name="review[rating]" id="e3" type="radio" value="3"><label for="e3">★</label>
                                <input name="review[rating]" id="e2" type="radio" value="2"><label for="e2">★</label>
                                <input name="review[rating]" id="e1" type="radio" value="1"><label for="e1">★</label>
                              </div>
                              <div class="form-actions">
                                <%= f.submit  class: "btn-new"%>
                              </div>
                            <% end %>
                          </div>
                      </div>
                    </div>
                  </div>
              <% else %>
                <p> You need to sign in to create a review </p>
              <% end %>

            </div>
        </div>
      <%# </div> %>
    <%# </div> %>
  </div>
  </div>
<%# reviews section %>
<br>
       <h2>Reviews</h2>

       <div class="flex-box-local">


          <%# <div class="conatinerr"> %>
            <%# this is the display reviews %>
                <% if @pub.reviews.present? %>
                  <% @pub.reviews.each do |review| %>
                 <div class="card-local">
                      <%# <div class="card-local-infos"> %>
                        <h4><%= review.content%></h4>
                        <br>
                        <h6><% review.rating.to_i.times do %></h6>
                        <span>★</span>
                        <% end %>

                        <%# <p class = "btn btn-primary m-4 text-end"> %>
                          <%# <br><%= link_to "Delete Review", new_pub_review_path(@pub), class: "btn", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn-primary" %>
                        </p>

            <% if user_signed_in? %>
          <% if current_user.dogs.present? %>
            <%# this button adds a local %>
            <button type="button" class="btn-primary" data-bs-toggle="modal" data-bs-target="#localModal">
              Add a Local
            </button>
              <div class="modal fade" id="localModal" tabindex="-1" aria-labelledby="localModal" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="localModal">Add a Local</h1>
                      <button type="btn" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                      <div class="modal-body">
                        <%= simple_form_for [@pub, Local.new] do |f| %>
                          <div class="form-bar">
                            <%= f.association :dog, collection: current_user.dogs %>
                          </div>
                          <div class="form-bar">
                            <%= f.input :photo, as: :file %>
                          </div>
                          <div class="modal-footer">
                            <button type="btn" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <%= f.submit "Add your local", class: "btn btn-primary" %>
                          </div>
                        <% end %>

                      </div>
                  </div>
                </div>
            </div>
          <% else %>
              <button type="btn" class="add-dog-button" data-bs-toggle="modal" data-bs-target="#addDog">
                You need to add a dog before you can add a local
              </button>
              <div class="modal fade" id="addDog" tabindex="-1" aria-labelledby="addDog" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="addDog">Add a new dog</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <%= simple_form_for([@dog]) do |f| %>
                        <div class="form-bar">
                          <%= f.input :name %>
                        </div>
                        <div class="form-bar">
                          <%= f.input :breed %>
                        </div>
                        <div class="form-bar">
                          <%= f.input :age %>
                        </div>
                        <div class="form-bar">
                          <%= f.input :proffession %>
                        </div>
                        <div class="form-bar">
                          <%= f.input :photo, as: :file,
                                    required: true %>
                        </div>
                        <div class="form-actions">
                          <%= f.button :submit, "Create dog" %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
        <% else %>
          <p> Sign in to add a Local</p>
        <% end %>
            </div>

        </div>
      </div>


  </div>
  </div>

<%# reviews section %>
<br>

  <div class="flex-box-local-reviews">
      <div class="flex-box-review">
        <h2>Reviews</h2>
          <% if @pub.reviews.present? %>
            <% @pub.reviews.each do |review| %>
            <div class="card-local">
              <div class="card-local-infos">
                <h5> <strong> <%= review.user.username  %> </strong> says: </h5>
                <h6> <%= review.content %> </h6>
                <br>
                <h6> <%= review.rating %></h6>
                <h6> <%= review.rating %><%= image_tag("gold_star.png", height: '20', width: '20') %> </h6>
                <%# <p class = "btn btn-primary m-4 text-end"> %>
                  <%# <br><%= link_to "Delete Review", new_pub_review_path(@pub), class: "btn", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn-primary" %>
                </p>

    <div class="flex-box-local">
      <% if user_signed_in? %>
          <% if @pub.locals.present? %>
            <% @pub.locals.each do |local| %>
              <div class="card-local">

                  <p> <%= local.dog.name %> </p>
                  <p> <%= local.dog.breed %> </p>
                  <p> <%= local.dog.age %> </p>
                  <p> <%= local.dog.proffession %> </p>
                </div>
              </div>
            </div>
            <% end %>
          <% else %>
            <p> Be the first to add a review </p>
          <% end %>
      </div>


<%# Locals code, do not interfere! %>
  <div class="flex-box-local">
    <h2>Locals</h2>
      <% if @pub.locals.present? %>
        <% @pub.locals.each do |local| %>
          <div class="card-local">
            <div class="card-local-img"> <%= cl_image_tag local.photo.key, height: 50, width: 50 %> </div>
            <div class="card-local-infos">
              <h5>  <%= local.dog.name %> </h5>
              <h6> <strong> Breed: </strong>  <%= local.dog.breed %> </h6>
              <h6> <strong> Age: </strong> <%= local.dog.age %> </h6>
              <h6> <strong> Profession: </strong> <%= local.dog.proffession %> </h6>
            </div>
          </div>
        <% end %>
      <% else %>
        <h5> Be the first to add a local</h5>
      <% end %>
  </div>
</div>

    <%= link_to "<-- Back", pubs_path, class: "btn btn-primary"  %>
    </div>
  </div>
  </div>
</div>
</div>

